includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    reportUnmatchedIgnoredErrors: true

    # To speed up analysis and cache results
    tmpDir: .phpstan/cache
